/* style.css */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fefefe;
  color: #333;
}

header {
  background-color: #000000;
  color: #fefefe;
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 90px;
  /* margin-right: 1rem; */

}

header nav a {
  color: #fefefe;
  text-decoration: none;
  margin-left: 1.5rem;
  font-weight: 500;
}

header nav a:hover {
  text-decoration: underline;
}

main {
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
}

h1{
  color: #fefefe;
}
h2{
  color: #020000;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 0.75rem;
  text-align: left;
}

.button {
  display: inline-block;
  background-color: #4bb7c3;
  color: rgb(0, 0, 0);
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 1rem;
}

.button:hover {
  background-color: #0c7c7c;
}
